# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# =========================
# Virtual Environments
# =========================
env/
venv/
.venv/
envDjango/
*/.venv/
*/venv/

# =========================
# Django
# =========================
*.log
media/
staticfiles/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Python Environment Files
# =========================
.env
.env.*

# =========================
# IDE Files
# =========================
.idea/
*.iml