/* =========================
   RESET (CSS reset is a set of rules that resets the styling of all HTML elements to a consistent baseline,
   eliminating browser inconsistencies and providing a clean slate for styling)
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
}

/* =========================
   CONTAINERS (Containers are used to group and structure content on a webpage, providing a consistent layout and
   styling for the elements within them)
========================= */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* =========================
   HEADER / NAVBAR
========================= */

/* Header Container */
header {
    background-color: #ffffff;
    color: #000000;
    margin: 0 auto;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-left: 3px solid #e0e0e0;
    border-right: 3px solid #e0e0e0;
}

/* Logo (image + text on one line, vertically centered) */
.logo {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #111;
    padding-left: 35px;
}

.logo img {
    height: auto;
    width: auto;
    display: block;
}

.logo-text {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
}

/* Site navigation anchors */
.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-right: 50px;
}

.nav-list {
    list-style: none;
    display: flex;
    width: 100%;
    gap: 0;
    justify-content:space-between;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.nav-list a {
    text-decoration: none;
    justify-content: center;
    color: #333333;
    font-size: 12.8px;
    font-weight: 500;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    padding: 50px 35px;
    white-space: nowrap;
}

.nav-list a:hover {
    color: #ffffff;
    background-color: #ed5057
}

.nav-list li {
    flex:1;
}

.nav-list li + li {
    border-left: 1px solid lightgray;
}


/* =========================
    MAIN CONTENT
========================= */

body {
    margin: 0 auto;
}