{# This is the home page template. It extends the base template and fills in the content block. #}
{% extends "base.html" %}

{# The block title is used to set the title of the page. It overrides the default title defined in the base template. #}
{% block title %}Home | Level Hotel{% endblock %}

{% block content %}
    {% include "partials/home_top.html" %}
    {% include "partials/portfolio_section.html" %}
    {% include "partials/blog_section.html" %}
    {% include "partials/contact_section.html" %}
{% endblock %}